// imported through include-path
@import "inc/mixins";

// imported through custom importer
@import "src/include";

// custom functions
@import "test/functions";

.unit-test {
  display: block;

  .compile {
    font-size: 16px;
  }
  .world {
    content: hello();
  }
  .globe {
    content: hello("globe");
  }
  .increment {
    z-index: increment(10);
  }
  .increment-five {
    z-index: increment(10, 5);
  }
  .decrement {
    z-index: decrement(10);
  }
  .decrement-five {
    z-index: decrement(10, 5);
  }
}
