.unit-test {
  display: block;

  .compile {
    font-size: 16px;
  }
  .world {
    content: hello();
  }
  .globe {
    content: hello("globe");
  }
  .increment {
    content: increment(10);
  }
  .increment-five {
    content: increment(10, 5);
  }
  .decrement {
    content: decrement(10);
  }
  .decrement-five {
    content: decrement(10, 5);
  }
}
